@inject UnityITellYou.Services.IDataService dataService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Unity I Tell You</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 首页
            </NavLink>
        </li>
        @if (m_DownloadNav != null)
        {
            @foreach (var item in m_DownloadNav)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"DownloadInfos/{item.File}/{item.Title}")">
                        <span class="oi oi-folder" aria-hidden="true"></span> @item.Title
                    </NavLink>
                </li>
            }
        }

        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private IEnumerable<UnityITellYou.Dtos.Nav.DownloadNavDto> m_DownloadNav;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        m_DownloadNav = dataService.GetDownloadNav();
    }
}
