@page "/"

<div class="container">
    <div class="card shadow mb-3">
        <div class="card-header">
            Unity I Tell You
        </div>
        <div class="card-body">
            <p>
                由于某些我们不知道的原因，在部分特殊地区的Unity开发者无法下载到与世界上大多数用户一致的Unity Editor.<br>
                有种被世界孤立了的感觉呢.<br>
                这里致力于收集一些原汁原味的、与世界上大多数用户保持一致的Unity版本的下载地址。
            </p>

            <div class="alert alert-warning" role="alert">
                <strong>免责声明</strong><br>
                Unity I Tell You是一项大家一起实现的开源项目，而不是Unity Technologies优美缔软件提供的一项服务。
            </div>
            <div class="alert alert-warning" role="alert">
                本项目仅收集整理来自开放网络的公开的内容，请自行甄别下载内容的安全性和合法性。
            </div>
        </div>
    </div>
</div>